      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Pizza Home</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Pizza Admin</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li ><a href="#/order">Caisse</a></li>
          <li ><a href="#/cuisine">Cuisine</a></li>
          <li ><a href="#/livraison">Livraison</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#/administration">Administration <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ><a href="#/pizzaAdmin">Pizza</a></li>
              <li ><a href="#/menuAdmin">Menu</a></li>
              <li ><a href="#/produitAdmin">Produit</a></li>
              <li ><a href="#/userAdmin">Utilisateurs</a></li>
              <li ><a href="#/statsAdmin/">Stats</a></li>
            </ul>
          </li>
        </ul>
      </div>