<div>
	<h2>Administration</h2>
	<div ui-view="action" >
		
		<h3>Liste des utilisateurs</h3>
		<table class="table table-default container">
			<thead>
				<tr>
					<th>Identifiant</th>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Identifiant</th>
					<th>Type</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in ctrl.users">
					<td><a href="#/utilisateurs/modifier/{{user.id}}">{{user.login}}</a></td>
					<td>{{user.nom}}</td>
					<td>{{user.prenom}}</td>
					<td>{{user.login}}</td>
					<td>{{user.type}}</td>
				</tr>
			</tbody>
		</table>
		<a href="#/utilisateurs/ajouter"><button type="button" class="btn btn-primary">Nouvel utilisateur</button></a>
	</div>
</div>
