<form autocomplete="off" ng-model="ctrl.user" ng-submit="ctrl.save()" method="POST" role="form" >
	<legend>Modifier l'utilisateur</legend>

	<div class="form-group">
		<label for="nom">Nom</label>
		<input ng-model="ctrl.user.nom" type="text" class="form-control" id="nom">
	</div>

	<div class="form-group">
		<label for="prenom">Prénom</label>
		<input ng-model="ctrl.user.prenom" type="text" class="form-control" id="prenom">
	</div>
	<div class="form-group">
		<label for="login">Identifiant</label>
		<input ng-model="ctrl.user.login" type="text" class="form-control" id="login" required>
	</div>
	<div class="form-group">
		<label for="mdp">Mot de passe</label>
		<input ng-model="ctrl.user.mdp" type="password" class="form-control" id="mdp" required>
	</div>
	<div class="form-group">
		<label for="mail">E mail</label>
		<input ng-model="ctrl.user.mail" type="email" class="form-control" id="mail">
	</div>
	<div class="form-group">
		<label for="tel">Téléphone</label>
		<input ng-model="ctrl.user.tel" type="tel" class="form-control" id="tel">
	</div>
	<div class="form-group">
		<label for="type">Type</label>
		<select ng-model="ctrl.user.type" name="type" id="type" class="form-control" required>
			<option ng-repeat="t in ctrl.types" value="{{t.key}}">{{t.value}}</option>
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Modifier</button>
	<button type="button" ng-click="ctrl.delete(ctrl.user)" class="btn btn-danger">Supprimer</button>
</form>