	<h1>Liste des pizzas à réaliser</h1>
		<table class="table">
			<caption>Pizza à faire
			</caption>	
			<thead>
			<tr>
				<th>Commande n° </th>
				<th> Nom Pizza </th>
				<th> Taille Pizza </th>
				<th> Etat de la pizza </th>
			</tr>
			</thead>
			<tbody>
			<p>
			<tr ng-repeat="commande in ctrl.commandesPizza">
					<td>{{commande.id}}</td>
					<td>{{commande.produit.name}}</td>
					<td>{{commande.produit.taille}}</td>
					<td><button type="button" ng-click="ctrl.change_etat(id_commande_pizza)" class="btn btn-success" title="Changer l'état de la Pizza à &quot;Préparée&quot;">Préparée</button></td>
			</tr>
			</p>
			</tbody>
		</table>
