<div class="row">
	<h1>Liste des ingredient</h1>
</div>	

<div class="row">
	<div><h2>Ingredient</h2></div>
	<div class="h3 btn bloc-ingredient" ng-repeat="ingredient in ctrl.ingredientsProducts track by $index">
		{{ingredient.nom}}

		<!--Boutton de suppression de l'ingredient-->
		<div class="row">
		<div class="col-md-9"></div>
		<div class="label label-warning col-md-2" ng-click="ctrl.supprimerIngredient(ingredient.id)"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></div>
		<div class="col-md-1"></div>
	</div>
	</div>
</div>

