	
<div class="row"><h1>Liste des produits</h1></div>	

<div class="row">
	<!-- Partie Listing affichage panneau-->
	<div class="col-md-8">

		<!-- Liste des Pizza-->
		<div class="row">
			<div><h2>Pizza</h2></div>
			<div class="h3 btn bloc-pizza" ng-repeat="product in ctrl.pizzas track by $index" ng-click="ctrl.select(product)">
				{{product.nom}}
			</div>
		</div>

		<!-- Liste des Boisson-->
		<div class="row">
			<div><h2>Boisson</h2></div>
			<div class="h3 btn bloc-boisson" ng-repeat="product in ctrl.boissons track by $index" ng-click="ctrl.select(product)">{{product.nom}}
			</div>
		</div>

		<!-- Liste des Dessert-->
		<div class="row">
			<div><h2>Dessert</h2></div>
			<div class="h3 btn bloc-dessert" ng-repeat="product in ctrl.desserts track by $index" ng-click="ctrl.select(product)">{{product.nom}}
			</div>
		</div>

	</div>

	<!-- Partie détails et liens (de modification et suppression)-->
	<div ng-show="ctrl.produitSelectionner!=null" class="col-md-4 panel panel-default ">
		<!-- Détail du produit sélectionner -->
		
		<div class="row details">
			<h3 class="text-center"> {{ctrl.produitSelectionner.nom}} </h3>
			<div class="col-md-6 ">
				<div>Type: {{ctrl.produitSelectionner.type}} </div>
				<div ng-show="(ctrl.produitSelectionner.type)==='PIZZA'">Taille : {{ctrl.produitSelectionner.taille}} </div>
				<div ng-show="(ctrl.produitSelectionner.type)=='BOISSON'">Format : {{ctrl.produitSelectionner.format}} </div>
				<div>Prix: {{ctrl.produitSelectionner.prix}} € </div>
			</div>
			<div class="col-md-6" ng-show="(ctrl.produitSelectionner.type)==='PIZZA'">Liste ingrédient:
				<ul>
					<li ng-repeat="ingredient in ctrl.produitSelectionner.ingredients">{{ingredient.nom}}</li>
				</ul>
			</div> 
		</div>

		<div class="row rowpadding">
			<div class="col-md-2"> </div>
			<!--Bouton Modifier-->
			<div class="col-md-4 btn btn-danger" ng-click="ctrl.modifier(ctrl.produitSelectionner)">Modifier</div>
			<div class="col-md-1"> </div>
			<!--Bouton Supprimer-->
			<div class="col-md-4 btn btn-danger"ng-click="ctrl.supprimer(ctrl.produitSelectionner.id)">Supprimer</div>
			<div class="col-md-1"> </div>
		</div>
	</div>
</div>
