
<div class="col-lg-12"><h1>Ajouter un produit</h1><br></br></div>	

<div class="row">

	<div class="col-lg-3"></div>

	<!-- Formulaire d'ajout d'un produit-->
	<div class="col-lg-6 panel panel-default">
		
		<div class="row col-lg-12 form-group">

			<form name="ctrl.productForm" ng-submit="ctrl.save()" novalidate>
				<div ng-show="ctrl.productForm.$invalid && ctrl.productForm.$dirty">
					<h1>Les champs avec * sont obligatoires</h1>
				</div>

				<div class="form-group">
					<label for="nom">Nom*:</label>
					<input class="form-control" type="text" id="nom" name="nom" ng-model="ctrl.productForm.nom" required>
				</div>

				<div class="form-group">
					<label for="type">Type:</label>
					<select  class="form-control" id="type" name="type" ng-model="ctrl.productForm.type">
      					<option ng-repeat="typeproduct in ctrl.typeProducts" value="{{typeproduct.nom}}">{{typeproduct.nom}}</option>
    				</select>
				</select>
			</div>

			<div class="form-group">
				<label for="taille">Taille (Pizza):</label>
					<select  class="form-control" id="taille" name="taille" ng-model="ctrl.productForm.taille">
      					<option ng-repeat="tailleproduct in ctrl.tailleProducts" value="{{tailleproduct.nom}}">{{tailleproduct.nom}}</option>
    				</select>
		</div>

		<div class="form-group">
			<label for="format">Format (Boisson):</label>
					<select  class="form-control" id="format" name="format" ng-model="ctrl.productForm.format">
      					<option ng-repeat="formatproduct in ctrl.formatProducts" value="{{formatproduct.nom}}">{{formatproduct.nom}}</option>
    				</select>
	</div>



	<div class="form-group">
		<label for="prix">Prix*:</label>
		<input class="form-control" type="number" id="prix" name="prix" ng-model="ctrl.productForm.prix" required>
	</div>

	<div class="form-groupe form-inline" ng-repeat="ingredientproduct in ctrl.ingredientsProducts">
		<input class="checkbox" type="checkbox" ng-model="ingredientproduct.selected"> {{ingredientproduct.nom}} 
	</div>
<!--Submit-->
<div class="form-group">
	<button class="form-control btn btn-success" type="submit" value= "Sauvegarder">SAVE</button>
</div>

</form>
</div>
</div>
<div class="col-lg-3"></div>

</div>