/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 oct. 2015, 14:34:18
    Author     : ETY
*/

body{
    background: lightgrey;
    min-height: 1000px;
}
.jumbotron{
    color: red;
    text-shadow: 2px 2px 4px white;
    box-shadow: 5px 5px 5px black;
    background-image:url(pizza.jpg);
    background-size: 100%;
}

.footer{
    background-color: gray;
    border-radius: 3px;
    margin: auto;
    padding: auto;
}

.panelbox{
    padding: 5px;
    margin-bottom: 5px;
}

.table{
    background-color: #EEE;
}


.details{
    min-height: 150px;
}

.bloc-pizza{
    margin:5px;
    min-width: 18%;
     color:white;
    background-color:hsl(25,75%,50%);
}

.bloc-boisson{
    margin:5px;
    min-width: 18%;
     color:white;
    background-color:hsl(210,50%,50%);
}

.bloc-dessert{
    margin:5px;
    min-width: 18%;
    color:white;
    background-color:hsl(30,25%,30%);
}
.bloc-ingredient{
    margin:5px;
    min-width: 18%;
     color:white;
    background-color:hsl(150,50%,35%);
}

.rowpadding{
    padding:5px;
}