/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 28 oct. 2015, 14:34:18
    Author     : ETY
*/

body{
    background: lightgrey;
    min-height: 1000px;
}
.jumbotron{
    color: red;
    text-shadow: 2px 2px 4px white;
    box-shadow: 5px 5px 5px black;
    background-image:url(pizza.jpg);
    background-size: 100%;
}

.footer{
    background-color: gray;
    border-radius: 3px;
    margin: auto;
    padding: auto;
}

.panelbox{
    padding: 5px;
    margin-bottom: 5px;
}

.table{
    background-color: #EEE;
}


.details{
    min-height: 150px;
}

.bloc-pizza{
    margin:5px;
    min-width: 18%;
     color:white;
    background-color:hsl(25,75%,50%);
}

.bloc-boisson{
    margin:5px;
    min-width: 18%;
     color:white;
    background-color:hsl(210,50%,50%);
}

.bloc-dessert{
    margin:5px;
    min-width: 18%;
    color:white;
    background-color:hsl(30,25%,30%);
}
.bloc-ingredient{
    margin:5px;
    min-width: 18%;
     color:white;
    background-color:hsl(150,50%,35%);
}

.orderform {
  margin-top: 1em;
  background-color: white;
  border: 2px solid grey;
  padding: 5px;
}

input.ng-invalid.ng-dirty,select.ng-invalid.ng-dirty{
    box-shadow: 0 0 6px red;
}

.tableListDimSmall{
    width:5%;
}

.tableListDimMedium{
    width:15%;
}

.tableListDimLarge{
    width:16%;
}

.cursor{
    cursor:pointer;
}

.topspace{
    margin-top: 5px;


}
.borderbottom{
    border-bottom: 2px solid black;

}
.liste{
    margin-bottom: 5px;

}

.italic{
        font-style: italic;
    font-family: "Verdana";
}

.rowpadding{
    padding:5px;
}

