<h1>Liste des commandes à distribuer</h1>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Commande</th>
			<th>Client</th>
			<th>Type</th>
			<th>Paiement</th>
			<th>Reglee?</th>
			<th>Etat</th>
			<th>Validation</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="tab in ctrl.pizzaPretes">
			<td>{{tab.id}}</td>
			<td>Les Produits:<br><span ng-repeat="tabProduits in tab.produits">{{tabProduits.nom}} - {{tabProduits.prix}}€<br></span><br>
				Les Menus: <br><span ng-repeat="tabMenus in tab.menus">{{tabMenus.nom}} - {{tabMenus.prix}}€<br></span><br>
				Total: {{tab.total}}€</td>
			<td>{{tab.client.login}} - ({{tab.client.prenom}} {{tab.client.nom}})</td>
			<td>{{tab.type}}</td>
			<td>{{tab.paiement}}</td>
			<td>{{tab.paye}}</td>
			<td>{{tab.etat}}</td>
			<td><button type="button" ng-click="ctrl.validerDistribution(tab)" class="btn btn-success">Commande distribuée</button></td>
		</tr>
	</tbody>
</table>