<table class="table table-striped">

	<h1>Liste des commandes à livrer</h1>

<thead>   
	<tr>
		<th>Numéro de la commande</th>
		<th>Numéro du client</th>
		<th>Type de la commande</th>
		<th>Total de la commande</th>
		<th>Type de paiement</th>
		<th>Statut du paiement</th>
		<th>Etat de la commande</th>
	</tr>

</thead>

<tbody>

	<tr ng-repeat="commande in ctrl.commandesalivrer">
		<td>{{commande.id}}</td>

		<td>{{commande.id_Client}}</td>

		<td>{{commande.type}}</td>

		<td>{{commande.total}}</td>

		<td>{{commande.paiement}}</td>

		<td>{{commande.paye}}</td>

		<td>{{commande.etat}}</td>

		<td><input type="submit" value="Valider"/></td>
	</tr>

</tbody>

</table>

	




