<h2>New Menu</h2>

<form ng-submit="ctrl.save()" name="ctrl.currentMeal" novalidate>

        <label for="">Pizza</label>
       <input type="text" ng-model="ctrl.currentMeal.pizzaName">

       <label for="">Drink</label>
       <input class="focusedInput" autofocus="autofocus" type="text" ng-model="ctrl.currentMeal.drinkName">

       <button type="submit">Save</button>
       <!-- <label for="">type</label>
       <select ng-model="action.type"
           ng-options="typeAction for typeAction in ctrl.typeActions"></select>

       <label for="">parameters</label>
       <textarea ng-model="action.params"></textarea>

       <button type="button" ng-click="ctrl.removeAction($index)">Delete</button>
   </p>
   <button type="button" ng-click="ctrl.addAction()">Add action</button>

   <p>
       <button type="submit">Save</button>
       <button type="button" ng-click="ctrl.delete()">Delete</button>
   </p> -->

</form>

<div class="row">
      <ul class="list-group">
        <li class="col-lg-2 list-group-item" ng-repeat="item in ctrl.newOrder track by $index">
          {{item.pizzaName}} {{item.drinkName}}
</div>
<button type="button" class="btn btn-success" name="name" ng-click="ctrl.validate()">Valider</button>
