<a href="#/ready">Order Ready</a>


  <div>
    <button class="btn btn-default" type="button" name="name" ng-click="ctrl.listAll()">All</button>
    <button class="btn btn-default" type="button" name="name" ng-click="ctrl.listDrinks()">Drinks</button>
    <button class="btn btn-default" type="button" name="name" ng-click="ctrl.listPizzas()">Pizzas</button>
    <button class="btn btn-default" type="button" name="name" ng-click="ctrl.listDesserts()">Desserts</button>
  </div>
    <!-- <input type="checkbox" ng-false-value="NO" ng-true-value="Margarita"
    ng-model="ctrl.pizzas.checked" />Margarita
  <ul>
    <li ng-repeat="item in ctrl.items  | PizzaFilter" ng-click="ctrl.select(item)">
      {{item.name}}
    </li>
  </ul> -->
  <div class="row">
    <div class="col-lg-4">
      <!-- <a ui-sref="order.menu">Menu</a>
      <a ui-sref="order.clientForm">Pizza</a> -->
      <div ui-view="newOrderForm"></div>

    </div>
    <div class="col-lg-4">
      <ul class="list-group">

        <li class="col-lg-3 list-group-item" styme="text-align: left;" ng-repeat="item in ctrl.items" ng-click="ctrl.select(item)">
          {{item.nom}}

        </li>
    </div>
    <div class="col-lg-4">
      <div ui-view="readyOrder"></div>
    </div>
  </div>
