<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="CSS/style_perso.css">
</head>

<body class="container" ng-app="pzWebAdminApp.home"> <!--définition de l'application à lancer-->


	<header>
		<div class="jumbotron text-center">
			<h1>Pizza Admin</h1>
		</div>
	</header>


	<!--Main-->

	<nav class="navbar navbar-default">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Pizza Home</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#/">Pizza Admin</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li ><a href="#/caisse">Caisse</a></li>
				<li ><a href="#/cuisine">Cuisine</a></li>
				<li ><a href="#/livraison">Livraison</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" href="#/administration">Administration <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ><a href="#/pizzaAdmin">Pizza</a></li>
						<li ><a href="#/menuAdmin">Menu</a></li>
						<li ><a href="#/produitAdmin">Produit</a></li>
						<li ><a href="#/userAdmin">Utilisateurs</a></li>
						<li ><a href="#/statsAdmin/">Stats</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>


	<!--Contenu-->
	<div ng-view></div>



	<footer>
		<p>xxxxx<p>
		</footer>



		<SCRIPT TYPE="text/javascript" src='bundle.js'></SCRIPT>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	</body>
	</html>